@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(rgba(144, 144, 144, 0.18), rgba(200, 200, 200, 0.321)),
              url('./assets/wallpaperHD.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

h1 {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  color: #eaf6ff;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: "Orbitron", sans-serif;
}


.pokemon-card {
  width: 330px;
  height: 460px;
  padding: 14px;
  border-radius: 18px;
  background: linear-gradient(145deg, #e3f2fd, #90caf9);
  border: 3px solid #5cb6ff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), inset 0 2px 6px rgba(255, 255, 255, 0.6);
  position: relative;
  transition: transform 0.3s ease;
}

.pokemon-card:hover {
  transform: scale(1.06) rotate(1deg);
}

/* Coloca antes de tudo, conteudo visual - brilho */
.pokemon-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.25), transparent);
  opacity: 0;
  transition: opacity 0.4s;
}
.pokemon-card:hover::before {
  opacity: 1;
}

.pokemon-card h3 {
  background: linear-gradient(to bottom, #90caf9, #42a5f5);
  color: #002b45;

  border-radius: 12px;
  margin: 0 0 12px 0;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #2c7fb8;
  box-shadow:
    inset 0 2px 6px rgba(255, 255, 255, 0.3),
    inset 0 -3px 6px rgba(0, 0, 0, 0.3);
}

.pokemon-card img {
  width: 325px;
  height: 187px;
  border-radius: 12px;
  border: 3px solid #b7bfe9;
  margin-bottom: 30px;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.367);
}

.types {
  position: absolute;
  bottom: 20px;
  left: -8px;   
  right: -8px;  

  background: linear-gradient(to right, #64b5f6, #42a5f5);
  color: #002b45;

  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;

  box-shadow:
    0 6px 12px rgba(0,0,0,0.4),
    inset 0 -2px 4px rgba(0,0,0,0.3);
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  background: linear-gradient(145deg, #79bef7, #64b5f6);
  border-radius: 12px;
  border: 2px solid #2c7fb8;
  box-shadow:
    inset 0 2px 6px rgba(255,255,255,0.3),
    inset 0 -3px 6px rgba(0,0,0,0.3);
}
.stat {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  color: #002b45;
}